---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Page not found">
    <h1 class="after:animate-cursor after:bg-fennel after:text-fennel after:content-['-']">404</h1>
    <p>Couldn't find the page you were looking for - <a href="/">go home?</a></p>
</Layout>

<script>
    const kaomojis = [
        "( ; ω ; )",
        "( ` ﾛ ´)︻デ═一",
        "( ´-ω･)︻┻┳══━一",
        "( ´ー`)ﾉﾞ",
        "( ౦ ‸ ౦ )",
        "( ￣Д￣)",
        "( ￣▽￣)︻┳═一",
        "(-_-)",
        "(>_<)",
        "(>д<)",
        "(>﹏<)",
        "(O.O)",
        "(O_O)",
        "(T_T)",
        "(o_O)",
        "(x . x)",
        "(x_x)",
        "(¬_¬)",
        "(¯ . ¯)",
        "(°ロ°)",
        "(´-ω-`)",
        "(×_×)",
        "(×﹏×)",
        "(μ_μ)",
        "(ಠ_ಠ)",
        "(ಡ‸ಡ)",
        "(ಥ﹏ಥ)",
        "(ᓀ ᓀ)",
        "(•ิ_•ิ)?",
        "(←_←)",
        "(→_→)",
        "(↼_↼)",
        "(⇀_⇀)",
        "(⇀‸↼‶)",
        "(⊃｡•́‿•̀｡)⊃",
        "(╥_╥)",
        "(╥﹏╥)",
        "( ╯°□°)╯ ┻━━┻",
        "(╯_╰)",
        "(╯°-°)╯彡┻━┻",
        "(◣_◢)",
        "(◣﹏◢)",
        "(〃＞＿＜ 〃)",
        "(〃￣ω￣〃)ゞ",
        "(」°ロ°)」",
        "(〒﹏〒)",
        "(っ˘̩╭╮˘̩)っ",
        "(・_・)",
        "(个_个)",
        "(︶︹︶)",
        "(＋_＋)",
        "(－.－)",
        "(－_－)",
        "(－ω－)",
        "(＞_＜)",
        "(＞﹏＜)",
        "(＠_＠)",
        "(｡T ω T｡)",
        "(ﾒ﹏ﾒ)",
        "(￢ ￢)",
        "(￢_￢)",
        "(￣_￣)",
        "(￣o￣)",
        "(￣ρ￣)",
        "(￣ω￣)",
        "(￣□￣」)",
        "(￣、￣〃)",
        "(￣ヘ￣)",
        "(￣︿￣)",
        "(￣﹃￣)",
        "(￣～￣)",
        "Q(`⌒´Q)",
        "~(>_< ~)",
        "┐(`～`)┌",
        "┐(￣ヘ￣)┌",
        "┐(￣～￣)┌",
        "┬─┬ノ( º _ ºノ)",
        "╮(￣ω￣)╭",
        "ヽ(°ｏ°)ﾉ",
        "ヽ(ˇヘˇ)ノ",
        "ヽ(￣～￣)ノ",
        "ヾ(`ヘ´)ﾉﾞ",
    ];

    const kaomoji = " " + kaomojis[Math.floor(Math.random() * kaomojis.length)];
    document.title += kaomoji;

    const heading = document.querySelector("h1")!;
    const kaomojiChars = kaomoji.split("");

    kaomojiChars.forEach((char, index) => {
        setTimeout(() => {
            heading.append(char);
        }, index * 50);
    });
</script>
