---
import Layout from "../layouts/Layout.astro";
---

<Layout title="taep96's epic website">
    <main class="flex w-[80vw] flex-col gap-12">
        <h1 class="text-4xl font-bold">404</h1>
        <p>Couldn't find the page you were looking for {">"}_{"<"}, <a href="/">go home?</a></p>
    </main>
</Layout>
